<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyaccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.PublishActivity"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name=".Activity.NewsDetailActivity"
            android:label="详细新闻" />
        <activity
            android:name=".Activity.CommentActivity"
            android:label="评论" />
        <activity
            android:name=".Activity.TeamworkDetailActivity"
            android:label="项目详情">
        </activity>
        <activity
            android:name=".utils.EditPass"
            android:label="修改密码">
        </activity>
        <activity android:name=".utils.EditSign"
            android:label="修改签名"/>
        <activity android:name=".utils.EditName"
            android:label="修改用户名"/>
        <activity android:name=".Activity.InfoSettingActivity"
            android:label="个人设置"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.easyaccess.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>